/**
* Day-{{day}} Include Header
*/
#pragma once

#include <string_view>
#include <iostream>
#include <string>

std::string handlePart1(const std::string_view input);
std::string handlePart2(const std::string_view input);