#include <string>
#include <iostream>
#include <string_view>
#include <gtest/gtest.h>

#include "src/include.hpp"

// Add the test input and output strings here to validate the solution
const std::string_view testInputPart1String = "Add your input string here";
const std::string_view testOutputPart1String = "Add your output string here";

const std::string_view testInputPart2String = "Add your input string here";
const std::string_view testOutputPart2String = "Add your output string here";

TEST(Day{{day}}Tests, TestPart1)
{

    ASSERT_EQ(1, 1);
}

TEST(Day{{day}}Tests, TestPart2)
{

    ASSERT_EQ(1, 1);
}